
#light {
    height: 300px;
    width: 90px;
    background-color: black;
    display: block;
    border-radius: 5%;
    justify-content: center;
}
#redLight {
    height: 90px;
    width: 90px;
    color: red;
    border-radius: 50%;
}
#yellowLight {
    height: 90px;
    width: 90px;
    color: yellow;
    border-radius: 50%;
}
#greenLight {
    height: 90px;
    width: 90px;
    color: green;
    border-radius: 50%;
}